<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd"
>


    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/parallel"/>
        <property name="username" value="guest"/>
        <property name="password" value="guest"/>

        <!-- Настройки пула соединений -->
        <property name="connectionTimeout" value="30000"/>
        <property name="maximumPoolSize" value="10"/>
        <property name="minimumIdle" value="5"/>
        <property name="idleTimeout" value="600000"/>
        <property name="maxLifetime" value="1800000"/>
        <property name="connectionTestQuery" value="SELECT 1"/>

        <!-- Оптимизация для PostgreSQL -->
        <property name="dataSourceProperties">
            <props>
                <prop key="socketTimeout">30</prop>
                <prop key="tcpKeepAlive">true</prop>
                <prop key="preparedStatementCacheQueries">256</prop>
                <prop key="preparedStatementCacheSizeMiB">5</prop>
            </props>
        </property>
    </bean>

    <jdbc:initialize-database ignore-failures="ALL">
        <jdbc:script location="classpath*:ddl/*.sql"/>
    </jdbc:initialize-database>

    <bean id="prl.nodeRestClient" class="org.springframework.web.client.RestClient" factory-method="create"/>

    <bean id="prl.httpNodeAdapter" class="com.nelos.parallel.adapters.http.impl.HttpNodeAdapterImpl">
        <constructor-arg ref="prl.nodeRestClient"/>
        <constructor-arg ref="jacksonObjectMapper"/>
    </bean>

    <rabbit:connection-factory id="rabbitConnectionFactory"
                               host="${rabbitmq.host:localhost}"
                               port="${rabbitmq.port:5672}"
                               username="${rabbitmq.username:guest}"
                               password="${rabbitmq.password:guest}"
                               virtual-host="${rabbitmq.vhost:/}"/>

    <rabbit:template id="prl.rabbitTemplate" connection-factory="rabbitConnectionFactory"
                     reply-timeout="${rabbitmq.reply-timeout:30000}"/>

    <rabbit:admin id="prl.rabbitAdmin" connection-factory="rabbitConnectionFactory"/>

    <bean id="prl.rabbitNodeAdapter" class="com.nelos.parallel.adapters.rabbit.impl.RabbitNodeAdapterImpl">
        <constructor-arg ref="prl.rabbitTemplate"/>
        <constructor-arg ref="jacksonObjectMapper"/>
    </bean>

    <bean id="prl.nodeAdapterRegistry" class="com.nelos.parallel.commons.adapter.impl.InMemoryNodeAdapterRegistry">
        <constructor-arg>
            <list>
                <ref bean="prl.httpNodeAdapter"/>
                <ref bean="prl.rabbitNodeAdapter"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="prl.nodeTransportManager" class="com.nelos.parallel.commons.adapter.NodeTransportManager">
        <constructor-arg ref="prl.inMemoryNodeRegistry"/>
        <constructor-arg ref="prl.nodeAdapterRegistry"/>
    </bean>

    <rabbit:annotation-driven/>

    <bean id="rabbitListenerContainerFactory"
          class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">
        <property name="connectionFactory" ref="rabbitConnectionFactory"/>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="parallelSystemUnit"/>
        <property name="packagesToScan">
            <list>
                <value>com.nelos.parallel</value>
            </list>
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
            </props>
        </property>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
</beans>